.container{
    align-items: center;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 20px;
}

.item{
    height: calc(20vh/2);
    width: calc(10vw/2);
    background-color: aquamarine;
}

.container .item:nth-child(2n + 1){
    background-color: blueviolet;
}
